 Extracting User Journey Data with SQL

## Introduction
This project is centered on analyzing the pre-purchase behavior of users to understand their journey across the company's front-end web pages. By examining interactions from various sessions leading to a purchase, the project aims to provide insights into how users navigate the platform before making their first subscription purchase. The extracted user journey data will serve as a key resource for marketing teams to improve customer experience and optimize conversion rates.

The project utilizes a dataset that includes three main tables:

student_purchases: Contains records of user payments and purchase types.
front_visitors: Links visitors with their user IDs.
front_interactions: Logs visitor activities, including page visits, clicks, and other interactions.

## Project Objectives
The key objectives of this project are:

To identify users who made their first subscription purchase between January 1, 2023, and March 31, 2023.

To extract the sequence of web pages visited by each user before their first purchase.

To group all visited pages into a user journey string for each session.

To filter out test users (who paid $0 for their subscriptions).

To replace raw URLs with readable aliases for better clarity.

## Project Requirements
The SQL database provided contains user interactions, purchase records, and visitor mappings. The following tools and resources were used:

MySQL Workbench 8.0 or later: Required for database management and query execution.

Database schema: Generated using the User_Journey_Database.sql file provided, which includes the following tables: 

student_purchases, front_visitors, and front_interactions.

URL_Aliases.xlsx: A reference file containing URL aliases to replace long URLs with simplified names.

## Data Overview
The database consists of the following key components:

student_purchases: Contains user purchase data, including user_id, purchase_type, purchase_price, and date_purchased. Only users with a purchase date in Q1 2023 and a purchase price greater than $0 are included.

front_visitors: Maps visitor_id to user_id. Users who never made a purchase have no associated user_id and are excluded.

front_interactions: Records all interactions (e.g., page visits) made by visitors. Each entry includes a visitor_id, session_id, event_source_url, event_destination_url, and event_date.

## Analysis Approach
The project follows a structured approach using SQL queries to extract the desired user journey data:

Step 1: Filter Subscription Data
Identify users who made their first subscription purchase between January 1, 2023, and March 31, 2023.
Exclude test users by filtering out those with a purchase price of $0.
Classify the subscription types as 'monthly', 'quarterly', or 'annual'.

Step 2: Join Interaction Data
Using the user_id from the filtered purchase data, join the interaction data to extract all web events for these users before their first purchase date.

Step 3: Create URL Aliases
Use the provided URL aliases to simplify event source and destination URLs.
Replace long URLs with human-readable names, such as "Homepage", "Login", "Sign up", "Courses", etc.

Step 4: Concatenate User Journeys
Combine the source and destination URLs of each user interaction within a session into a single string.
Use the GROUP_CONCAT function to concatenate all interactions in a session into one journey string, separating each page visit with a hyphen (-).

Step 5: Output User Journeys
Generate a final output containing the following columns: user_id, session_id, subscription_type, and user_journey.
The user_journey column contains the ordered sequence of pages visited by the user before making their first purchase.

## connecting to the database

In [1]:
%load_ext sql

%sql mysql+pymysql://root:100200300@localhost:3306/user_journey_data

## CODE

In [2]:
%%sql

## Create a CTE to filter users who made their first purchase in Q1 2023
SET SESSION group_concat_max_len = 100000;
SET sql_mode = (SELECT REPLACE(@@sql_mode, 'ONLY_FULL_GROUP_BY', ''));

WITH subscription_data AS (
    SELECT  
        user_id, 
        MIN(date_purchased) AS first_purchase_date, 
        IF(purchase_type = 0, 'monthly', 
           IF(purchase_type = 1, 'quarterly', 
           IF(purchase_type = 2, 'annual', 'other'))) AS subscription_type, 
        purchase_price 
    FROM student_purchases
    GROUP BY user_id 
    HAVING CAST(first_purchase_date AS DATE) >= '2023-01-01'
    AND CAST(first_purchase_date AS DATE) < '2023-03-01'
    AND purchase_price > 0
),

## Join the filtered user data with their interactions prior to the purchase date
interactio_student_data AS (
    SELECT 
        sd.user_id, front_interactions.visitor_id, session_id, event_source_url, event_destination_url, subscription_type
    FROM subscription_data AS sd
    INNER JOIN front_visitors ON front_visitors.user_id = sd.user_id
    INNER JOIN front_interactions ON front_interactions.visitor_id = front_visitors.visitor_id
    WHERE event_date < first_purchase_date
    ),

## Replace long URLs with aliases for easier readability
modified_url AS (
    SELECT 
        user_id, session_id, subscription_type,
        CASE 
          WHEN event_source_url = 'https://365datascience.com/' THEN 'Homepage'
          WHEN event_source_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
          WHEN event_source_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
          WHEN event_source_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
          WHEN event_source_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
          WHEN event_source_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
          WHEN event_source_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
          WHEN event_source_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
          WHEN event_source_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
          WHEN event_source_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
          WHEN event_source_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
          WHEN event_source_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
          WHEN event_source_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
          WHEN event_source_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
          WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url LIKE '%coupon%' THEN 'Coupon'
          WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url NOT LIKE '%coupon%' THEN 'Checkout'
          ELSE 'Other'
        END AS user_url,
    
        CASE 
              WHEN event_source_url = 'https://365datascience.com/' THEN 'Homepage'
              WHEN event_source_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
              WHEN event_source_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
              WHEN event_source_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
              WHEN event_source_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
              WHEN event_source_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
              WHEN event_source_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
              WHEN event_source_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
              WHEN event_source_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
              WHEN event_source_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
              WHEN event_source_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
              WHEN event_source_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
              WHEN event_source_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
              WHEN event_source_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
              WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url LIKE '%coupon%' THEN 'Coupon'
              WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url NOT LIKE '%coupon%' THEN 'Checkout'
              ELSE 'Other'
        END AS destination_url
    FROM interactio_student_data
),

## Concatenate source and destination URLs for each interaction
combined_pages AS(
    SELECT user_id,session_id, subscription_type, CONCAT(user_url, "-",destination_url) as combined_page 
    FROM modified_url
),

## Combine all pages visited in each session into a single string for the user journey
session_pages AS (
    SELECT 
        user_id, session_id, subscription_type,
        GROUP_CONCAT(combined_page SEPARATOR '-') as user_journey
    FROM combined_pages
    GROUP BY session_id
)

#Select the final data, including user_id, session_id, subscription_type, and user_journey
SELECT * FROM session_pages LIMIT 10 ;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
0 rows affected.
0 rows affected.
10 rows affected.

[(392228, 2807280, 'annual', 'Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate'),
 (455204, 2810317, 'monthly', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses'),
 (339582, 2811543, 'annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Career tracks-Career tracks'),
 (455204, 2811548, 'monthly', 'Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up'),
 (339582, 2812935, 'annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses'),
 (349826, 2816745, 'annual', 'Log in-Log in-Log in-Log in'),
 (349826, 2816779, 'annual', 'Checkout-Checkout-Checkout-Checkout'),
 (339582, 2816825, 'annual', 'Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Courses-Courses-Courses-Courses'),
 (398805, 2817165, 'monthly', 'Log in-Log in'),
 (455234, 2818226, 'annual', 'Log in-Log in-Log in-Log in-Log in-Log in-Log in-Log in')]

# Conclusion
This SQL project successfully extracted user journey data for paying customers, revealing the sequence of web page interactions leading to their first purchase. The process included filtering by purchase date, excluding test users, replacing URLs with readable aliases, and grouping sessions into user journeys. This data provides valuable insights into user behavior before converting to paying customers.

The final output can be exported as a CSV file, which can further be used for analysis in tools like Excel or Power BI to uncover patterns that could help improve the customer journey and enhance marketing efforts.